div.show-image {
    position: relative;
    float:left;
    margin: 10px;
  
}
div.show-image:hover img{
    opacity:1;
    border-width:1%;
    border-style: solid;
    border-color: #ffdd00;
}

div.show-image:hover input {
    display: block;
}
div.show-image input {
    position:absolute;
    display:none;
}
div.show-image input.negative {
    bottom:2%;
    left:2%;
}
div.show-image input.positive {
    bottom:2%;
    right:2%;
}
div.show-image input.skip {
    top:1.5%;
    right:2%;
}

img {
    height: 120px;
    width: 120px;
}