h1 {
    color: #ffdd00;
    
}

.button-p-2 {
  padding: 0%;
}

h4 {
  color: #ffdd00;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
  color: #ffdd00;
  background-color: #ffdd0020;
  border: 3px solid;
  border-color: #ffdd00; 
  padding: 3%;
  height: 700px
}

.show-logo {
  position: relative;
}

.sidebar-content-top {
  font-size: 20px;
  padding-top:1%;
  padding-bottom:30%;
}

div.sidebar-content {
  font-size: 20px;
  padding-top:1%;
  padding-bottom:1%;
}

div.num {
  display: flex;
  justify-content: flex-end;
}

.footer {
  color: #ffdd00;
}

.sub-info {
  margin-top: 1%;
  margin-bottom: 1%;
}

.footer-container {
  margin-top: 2%;
  margin-bottom: 1%;
  border-top: 3px;
  border-color: #ffdd00;
}

.rulogo {
  height: 50px;
  width: 50px;
} 

.logo {
  height: 35px;
  width: 155px;
  margin-top: 5%;
}

div.border-success {
    background-color: #28a74670;
    max-height: 700px;
    overflow: auto;
}

div.border-success h5 {
    border: 3px solid;
    color: #28a746;
}

.border-extra-pos {
  border: 3px solid;
  background-color: #28a74670;
  border-color: #28a746;;
}

.border-extra-neg {
    border: 3px solid;
    background-color: #a500107c;
    border-color: #a50010;
    max-height: 700px;
    overflow: auto;
}

.btn-danger {
  border-color: #a50010;
  Background-color: #a50010;

}

p.love {
    color: #ffdd00;
    font-size: 11px;
    margin-top: 2%;
}

div.header-room {
    margin-bottom: 1%;
    margin-top:2%;
}

div.reset-room {
    margin-top:1%;
    justify-content:center;
}

button.reset {
    background-color: black;
    border: 1px solid #ffdd00;
    color: #ffdd00;
    margin-left: 1%;
    margin-right: 1%;
}

div.negAllCont {
    display:flex;
    justify-content:flex-end;
    margin-right:3%;
    margin-top:1%;
    padding-top:.5rem;
    padding-bottom:.5rem;
}

div.posAllCont {
    display:flex;
    justify-content:flex-start;
    margin-left:3%;
    margin-top:1%;
    padding-top:.5rem;
    padding-bottom:.5rem;
}

button.posAll {
    bottom:1%;
    right:5%;
}

.example-warper {
  overflow: scroll;
  width: 100%;
  padding: 20px 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px #cfcece dashed;
}

.button {
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 10px 15px;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 14px;
  border: 3px solid #cfcece;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover,
.button.hover {
  border-color: #2980b9;
}

.col-md-auto {
  margin-left: 2%;
  margin-right: 2%;
}
.popup-content {
  padding-left: 2%;
  padding-top: 1%;
}
.container-data {
  display: flex;
  height: 200px; 
}

.card {
  font-size: 12px;
}
.card > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 14px;
  text-align: center;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  margin: auto;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.example-warper-start {
  width: 100%;
  padding: 20px 5%;
  display: flex;
  flex-wrap: wrap;
  border: 1px #cfcece dashed;
}

.menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
.menu-item {
  cursor: pointer;
  padding: 5px;
  height: 28px;
  border-top: 1px solid rgb(187, 187, 187);
}
.menu-item:hover {
  color: #2980b9;
}

.training {
     color: #ffdd00;
}

.update-b {
  display: flex;
}



